
@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);

html{
    height: 100%;
}
body {
	padding-bottom: 30px;
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
    font-size: 13px;
	font-style: normal;
	font-weight: 200;
    min-height: 100%;
    position: relative;
    text-align: center;
    /*background-image: url('../images/wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-color: black;
    background-size: cover;
    color: white;*/
}
fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2%;
    background-color: black;
    color: #FFFFFF;
}
form {
    font-weight:normal;
    font-size: 1.2em;
}
form > input {
    width: 300px;
    height: 40px;
    padding: 0 10px 0 10px;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    color: #aeaeae;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
form > textarea {
    width: 300px;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    margin: 5px;
}

form > input:focus {
    color: #858585;
}

form > button {
    border-radius: 5px;
    padding: 0 10px 0 10px;
    margin: 10px 10px 10px 10px;
}
h1 {
    font-size: 72px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
}
h2 {
    margin-top: 0.5em;
}
header {
    background-image: url(/images/elements/flower-banner.jpg);
    background-size: cover;
    padding-top: 10px;
}
legend {
    width:inherit;
    padding:0 10px;
    border-bottom:none;
    margin-bottom: 5px;
}

.addToCartSection {
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
}
.autocomplete-suggestions {
    border: 1px solid #999;
    background: #fff;
    cursor: default;
    overflow: auto;
    color: black;
}
.autocomplete-suggestion {
    padding: 10px 5px;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
}
.autocomplete-selected {
    background: #f0f0f0;
}
.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399ff;
}
.badge {
    font-size: 16px;
    line-height: 2;
}
.carousel-control {
    opacity: 1
}
.carousel-caption {
    color: white;
    font-size: 25px;
}
.checkbox {
    /* All browsers except webkit*/
    transform: scale(1.5);

    /* Webkit browsers*/
    -webkit-transform: scale(1.5);
}
.dishes li {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
    padding: .75em;
    margin: .25em;
    border-radius: 5px;
    display: inline-block;
}
.floatright {
    float: right;
    margin-left: 10px;
    margin-right: 0px;
}
.item {
    margin: 15px;
}
.item > img {
    width: 100%;
}
.jumbo {
    display: inline;
    font-size: 1.5em;
    font-weight: bolder;
}
.jumbotron {
    /*background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
    background-color: crimson;
    background-image: url('/images/background.png');*/
    background-color: transparent;
    padding-left: 50px;
    z-index: 50;
    width: 80%;
    height: 100%;
    text-align: center;
}
.logo {
    max-width:60px;
    margin-top: -7px;
    padding: 5px;
}
.navbar   {
    /*Vertical menubar*/
    width: 120px;
    z-index: 100;
    float: right;
    padding: 10px 10px 30px 10px;
    position: fixed;
    /*padding: 50px 5px 5px 20px!important;
    width: auto!important;
    height: auto!important;
    margin: 0 20px -30px -31px!important;
    padding: 20px!important;*/
    border-radius: 4px;
    border: solid rgba(255,255,255,.5)!important;
    border-width: 1px 0!important;
    overflow: hidden;
    text-align: center;
    font-size: 13px!important;
    line-height: 16px!important;
    background: transparent!important;
    /*box-shadow: 0 0 10px 5px rgba(0,0,0,.4)*/
}
.navbar-nav > li {
    padding: 0px;
    width: 70px;
    height: 70px;
    margin: 20px 20px 0px 0px;
}
.navbar-brand, .navbar-nav > li > a {
    color: black;
    font-size: small;
    font-weight: 400;
    /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);*/
}
.navbar-toggle {
    float: none;
}
.navbar-toggle .icon-bar {
    background-color: black;
}
/*.nav > li.active {
    background-color: whitesmoke;
}
.nav > li.active > a {
    color: crimson;
}*/
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: transparent;
}
.nav > li:hover,
.nav > li:focus {
    transform: scale(1.3,1.3);
}
.nm-np {
    margin: 0;
    padding: 0;
}
.panel {
    background-color: transparent;
}
.panel-red > .panel-heading {
    /*background-image: linear-gradient(to bottom, #DE3F3F 0%, #A42E2E 100%);
    background-repeat: repeat-x;
    color: whitesmoke;*/
}
.row {
    margin-top: 10px;
}

.sticky-note {
    background-image:url('/images/elements/sticky-note.png');
    background-size: cover; 
    background-repeat: no-repeat;
    padding: 40px 30px 10px 30px;
    font-size: medium;
    font-weight: bold;
    text-align: left;
    font-family: "Architects Daughter";
    display: inline-table;
}
.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}
.theme-showcase .navbar .container {
    width: auto;
}
.thumbnail {
    width: 100%;
}
.tiny {
    font-size: .75em;
    font-weight: lighter;
}
.yellow-button {
    background-image: url('/images/elements/yellow-button.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#contact-us {
    width: 75%;
    height: auto;
    margin: auto; 
    overflow: scroll;  
    padding: 20px;
}
#intro {
    font-size: medium;
    font-weight: bolder;
    font-style: italic;
}
#map {
    width: 50%;
    height: 250px;
    background-color: #CCC;
}
#menu {
    /*border: ridge;
    border-radius: 10px;*/
    text-align: center;
    vertical-align: middle;
}
#message {
    display: inline-table;
    text-align: left;
    float: left;
    padding: 30px;
}
#userInfo {
    display: inline;
    width: 25%;
    text-align: center;
    margin-bottom: 35px
}
#widget_scroll_container {
    position: relative;
}